
	.select-container-border-1{
	 border-radius: 3px;
	 border: 0.5px solid #ddd;
	 padding: 5px;
	
	 /*background-color: #d3d3d3;*/
	 min-width:250px;
	}
	
	.option-container{
		border-radius: 3px;
		border: 0.5px solid #ddd;
	    padding: 5px;
		max-width:350px;
		margin-top:2px;
	}
	.option-data-container{
		width: 89%;
	}
	.option-container-list{
		overflow-y: scroll;
		max-height: 300px;
		
		
	}
	.option-container-list li{
		list-style:none;
	}
	
	.option-button{
		min-width:110px;
		margin: 3px;
	}
	
	.option-text{
	
	}
	.select-scrollbar-1::-webkit-scrollbar-track
	{
		-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
		border-radius: 10px;
		background-color: #F5F5F5;
	}

	.select-scrollbar-1::-webkit-scrollbar
	{
		width: 12px;
		background-color: #F5F5F5;
	}

	.select-scrollbar-1::-webkit-scrollbar-thumb
	{
		border-radius: 10px;
		-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
		background-color: #D62929;
	}
	
	.select-scrollbar-2::-webkit-scrollbar-track
	{
		-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
		border-radius: 10px;
		background-color: #F5F5F5;
	}

	.select-scrollbar-2::-webkit-scrollbar
	{
		width: 12px;
		background-color: #F5F5F5;
	}

	.select-scrollbar-2::-webkit-scrollbar-thumb
	{
		border-radius: 10px;
		-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
		background-color: #555;
	}
	
	.parent-expand-collapse-container{
		min-width:20px;
		padding-top:0px;
		padding-bottom:3px;
		padding-left:5px;
		padding-right:5px;
		border-radius: 3px;
		border: 0.5px solid #F8F8F8;
		margin-right:2px;
	}
	.parent-expand-collapse-container:hover{
		background-color:  #F8F8F8
	}
	/*Checkbox */
	.option-item {
		padding-top:3px;
		  padding-bottom:3px;
				margin-left: 2px;
		min-height:34px;
	}
	.option-item-container {
	  border-radius: 3px;
	  /*border: 0.5px solid #ddd;*/
	  background-color:#E8E8E8;
	  padding-left:3px;
	  padding-bottom:0px;
	  padding-top:0px;
	  width:99%;
	  margin-bottom:2px;
	  
	  
	}
	.option-item-unselected{
		background-color:#E8E8E8 !important;
	}
	.option-item-selected{
		background-color:#5cb85c !important;
	}
	.option-item-label{
		padding-left:0px;
		min-height:15px;
		margin-bottom:1px;
	}
	.option-item-text{
		margin-left:23px;
		
	}
	.option-container-inner-item{
		float:left;
		font-size:12px;
		border-radius: 3px;
	    border: 0.5px solid #707070;
		padding:2px;
	}
	/*Child*/
	.option-container-child-list
	{
		margin-left:10px;
		
	    padding: 5px;
		max-width:390px;
		width:97%;
	}
	.option-item-child{
	  border-radius: 3px;
	  /*border: 0.5px solid #ddd;*/
	  background-color:#E8E8E8;
	  padding-left:3px;
	  padding-bottom:3px;
	  padding-top:3px;
	  width:100%;
	  margin-bottom:2px;
	  min-height:34px;
	  
	}
	.option-item-unselected-child{
		background-color:#E8E8E8;
	}
	.option-item-selected-child{
		background-color:#5cb85c;
	}
	.option-item-label-child{
		padding-left:0px;
		min-height:15px;
		margin-bottom:1px;
	}
	.option-item-child-text{
		margin-left:23px;
		
	}
	.select-tree-open-close-container{
		border-radius: 3px;
	  /*border: 0.5px solid #ddd;*/
	  background-color:#F8F8F8;
	  padding:5px;
	  margin-top:2px;
	}
	 .parent-expand-collapse-container:hover{
		background-color:  #F8F8F8
	}
    .option-list-li :hover {
        background-color: #ECFFB3 !important;
    }